@media (max-width:1200px) {
    .form{
        max-width:970px;
    }
}
@media (max-width:992px) {
    .form{
        max-width:750px;
    }
}
@media (max-width:767px) {
    .form{
        max-width:none;
    }
}
html{
    height: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #1A226B;
    position: relative;
    margin: 0;
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    max-width: 1200px;
    margin: 0px auto;
    padding: 0px 15px;
    letter-spacing: 1px;
}

.form__group{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 15px;
}
.form__title{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 50px;
    color: #787878;
}
.form__input{
    font-family: Roboto;
    font-style: normal;
    width: 509px;
    height: 49px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 2px solid #787878;
    box-sizing: border-box;
    border-radius: 10px;
    font-weight: bold;
    font-size: 28px;
    line-height: 36px;
}
.form__button{
    width: 180px;
    height: 52px;
    left: 0px;
    top: 0px;
    background: #1A226B;
    border-radius: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 16px;
    color: #FFFFFF;
    margin: 10%;
}
.form__label{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #787878;
}
.form__checkbox{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
    color: #787878;
    padding-right: 30%;
}
.user-password{
    font-weight: normal;
    font-style: normal;
    color: #CCCCCC;
}
.box{
    font-style: normal;
    font-weight: normal;
}
#check-box{
    background: #FFFFFF;
    border: 2px solid #787878;
    box-sizing: border-box;
    border-radius: 7px;
}
.form__forgot{
    padding-right: 65%;
    padding-top: 2%;
}
.form__forgot:hover{
    color: red;
}
.form__button:hover{
    background: red;
    border-color: #1A226B;
}
.form__button:active{
    background-color: darkred;
    border-color: #1A226B;
}
